.homeMainText {
    position: absolute;
    display: block;
    top: 43%;
    width: 100%;
    margin: auto;
    font-size: 50px;
    text-align: center;
}

.homeMainText1 {
    display: block;
    width: 50%;
    opacity: 0;
    margin: auto;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px #991313;

    -webkit-animation: slide 2.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 2.5s forwards;
    animation-delay: 0s;
}

.homeMainText2 {
    display: block;
    top: 60px;
    left: 100px;
    width: 100%;
    opacity: 0;
    margin: auto;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px #991313;

    -webkit-animation: slide 2.5s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slide 2.5s forwards;
    animation-delay: 1.5s;
}

@-webkit-keyframes slide {
    100% {
        opacity: 100%;
    }
}

@keyframes slide {
    100% {
        opacity: 100%;
    }
}

/* FADING BG */
@keyframes cf4FadeInOut {
    0% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cf4a img:nth-of-type(1) {
    animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
    animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
    animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
    animation-delay: 0;
}
