.active {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.active:after {
    display: block;
    content: "";
    border-bottom: solid 3px #be1e2d;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.hoverable {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.hoverable:after {
    display: block;
    content: "";
    border-bottom: solid 3px #be1e2d;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
}

.hoverable:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}
