.card {
    width: 100%;
    height: 250px;
    background-color: #171b1f;
    border: 1px solid rgb(99, 99, 99);
    text-align: center;
    transition: 0.5s;
}

.card:hover {
    margin-top: -10px;
    cursor: pointer;
}

.card:hover h2 {
    color: #991313;
}

.card:hover h4 {
    color: #991313;
}
