.playerCard {
    width: 250px;
    height: 250px;
    margin: auto;
}

.playerCard > img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.playerName {
    display: block;
    padding-top: 190px;
    font-size: 20px;
    margin-left: 5px;
    text-shadow: 2px 2px black;
}

.roleName {
    font-size: 20px;
    display: block;
    margin-left: 5px;
    text-shadow: 2px 2px black;
}
